<!DOCTYPE html>
<html ng-app="miApp">
<head>
	<meta charset="utf-8">
	<title>Insertar multiples controladores en AngularJS</title>
	<script type="text/javascript" src="../../angular-1.5.6/angular.min.js"></script>
</head>
<body>

	<div ng-controller="circunferencia">

		<label>Diametro:</label>

		<input type="text" ng-model="diametro"> <br>

		<button ng-click="calcularCircunferencia()">Calcular circunferencia</button>

		{{ circunferencia }}

	</div>

	<script type="text/javascript">
		var miAplicacion = angular.module( 'miApp' , [] )
		
		miAplicacion.controller ( 'circunferencia' , ['$scope' , function($scope) {

			var pi = 3.14

			$scope.calcularCircunferencia = function() {

				$scope.circunferencia = $scope.diametro * pi

			}

		} ] )
	</script>

</body>
</html>
